
.header{
    background-color: cadetblue;
    padding: 7px;
}

.header-line{
    color: rgb(133, 25, 47);
   
}
.header-line2{
    color: orange;
}

.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}